* {
  font-family: 'Roboto', sans-serif;
  transition: .3s;
}

.header, footer {
  background-color: #000;
}

.header .navbar-brand {
  width: 50px;
}

.header .nav-link {
  color: #fff;
}

.header .nav-link.active {
  color: #fff;
  border-color: #01A0E3;
}

.header .navbar-toggler {
  background-color: #fff;
  border-radius: 4px;
}

.carousel img {
  max-height: 70vh;
}

.title {
  font-family: 'Staatliches', sans-serif !important; 
}

.text-colored {
  color: #01A0E3;
  font-family: inherit;
}

#sobre {
  background-color: #e2f2f2;
}

#carreiras .btn.btn-primary {
  background-color: #01A0E3;
  border: none;
  transition: opacity .3s;
}

#carreiras .btn.btn-primary:hover {
  opacity: .5;
}

#veiculos {
  background-color: #e2f2f2;
}

#veiculos .nav-item {
  color: #01A0E3;
  font-weight: bold;
}

#veiculos .tab-content {
  background-color: #fff;
  border-radius: 4px;
}

#contato textarea {
  resize: none;
}

footer {
  color: #fff;
}